@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

@layer base {
  body {
    @apply text-dark;
    font-family: 'heebo', 'Arial Narrow Bold', sans-serif;
    margin: auto;
  }

  nav {
    direction: rtl;
  }

  .badge {
    @apply bg-dark text-white px-4 py-1 rounded-3xl font-bold;
  }

  .section--header {
    @apply text-lg font-medium text-center;
  }

  .active {
    @apply text-red;
  }
  .hiddenTag {
    @apply hidden !important;
  }
}
