@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@layer base {
  :root {
    --primary: 295 65% 40%;
    --secondary: 0 0% 100%;
    --primary-muted: 216 46% 55%;
  }

  body {
    @apply text-dark;
    font-family: "Plus Jakarta Sans", "Arial Narrow Bold", sans-serif;
    margin: auto;
  }

  .cu-dashboard-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    /* gap: 1rem; */
    /* padding: 1rem; */
  }

  @media (max-width: 768px) {
    .cu-dashboard-container {
      grid-template-columns: auto 1fr;
    }
    .aside-text {
      display: none;
    }
  }

  .cu-aside-list {
    color: #8e92bc;
    border-radius: 10px;
    background-color: hsl(var(--secondary));
    transition: background-color 0.3s, color 0.3s;
  }
  .cu-aside-list a {
    padding: 10px 15px;
  }

  .cu-aside-list:hover,
  .cu-aside-list:focus {
    color: hsl(var(--secondary));
    background-color: hsl(var(--primary) / 0.7);
  }

  .cu-aside-list.active {
    color: hsl(var(--secondary));
    background-color: hsl(var(--primary));
  }

  /* Hide text on mobile screens */
  @media (max-width: 768px) {
    .aside-text {
      display: none;
    }
  }
}
